[Unit]
Description=Execute ghost mirror
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/ghostmirror -Duml /home/motb/.config/ghostmirror/mirrorlist /home/motb/.config/ghostmirror/mirrorlist -s light -S state,outofdate,morerecent,extimated,speed
Environment=RESTART_COUNT,SERVICE_VERSION=0.10.3
Type=oneshot
Restart=on-failure
RestartSec=30m

