
polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.network1.enable" ||
         action.id == "org.freedesktop.policykit.exec") &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
